<form method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="wdgtejyVG1Akmwf4cKs5NBaZZMTcG01rH8SoS69skCSlwWm7oPUwOraXepi2zLK6">
    <div class="card mb-3" style="background-color: #eee;">
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-6 mb-lg-6">
                <div class="card-body">
                    <h5 class="mb-0">Order Id : 26</h5>
                </div>
                <div class="card-body">
                    <h5 class="mb-0">Order Date : Oct. 17, 2023, 3:11 p.m.</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-6 mb-lg-6">
                <div class="card-body">
                    <h5 class="mb-0">Payment Via : 
                        
                            Cash
                        
                    </h5>
                </div>
                <div class="card-body">
                    <h5 class="mb-0">Order Amount : ₹9000</h5>
                </div>
            </div>
        </div>
        <div class="form-group form-button">
            <input type="hidden" name="orderId" value="26">
            <input type="submit" name="signup" id="signup" class="form-submit" value="View">
        </div>
    </div>
</form>